<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <ion-progress-bar type="indeterminate" *ngIf="itemsService.itemLoading"></ion-progress-bar> -->
  <ion-list id="itemsTop">
    <span *ngFor="let field of activeFields">
    <ion-item *ngIf="field.type === 'PlainText' && field.slug === 'name' || field.type === 'PlainText' && field.slug === 'slug'" id="fieldItem">
      <ion-textarea
        auto-grow
        id="field"
        fill="outline" 
        [(ngModel)]="field.data"
        label-placement="floating" 
        label={{field?.displayName}} 
        name="{{field?.slug}}"
        placeholder={{field?.helpText}} 
      >
      </ion-textarea>
    </ion-item>
  </span>
  </ion-list>
  <ion-list id="itemsBottom">
    <span *ngFor="let field of activeFields">
  
    <ion-item *ngIf="field.type === 'PlainText' && field.slug !== 'name' && field.slug !== 'slug'" id="fieldItem">
      <ion-textarea
        auto-grow
        id="field"
        fill="outline" 
        [(ngModel)]="field.data"
        label-placement="floating" 
        label={{field?.displayName}} 
        name="{{field?.slug}}"
        placeholder={{field?.helpText}} 
      >
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="field.type === 'Number'" id="fieldItem">
      <ion-input
        id="field"
        fill="outline" 
        [(ngModel)]="field.data"
        type={{field?.type}}
        label-placement="floating" 
        label={{field.displayName}} 
        placeholder={{field?.helpText}} 
      >
      </ion-input>
    </ion-item>

    <!-- <ion-item *ngIf="field.type === 'RichText'" id="fieldItem">
      <div id="editor">
        <ion-label>{{field.displayName}}</ion-label>
        <div class="NgxEditor__Wrapper">
        <ngx-editor-floating-menu  [editor]="editors[field?.editorNumber]"> </ngx-editor-floating-menu>
        <ngx-editor 
        [editor]="editors[field?.editorNumber]" 
        [ngModel]="field?.data" 
        [disabled]="false" 
        [placeholder]="'Type here...'"
        (ngModelChange)="editorChange($event,field)"
        ></ngx-editor>
      </div>
      </div>
    </ion-item> -->

    <ion-item *ngIf="field.type === 'Image'" >
      <div id="fieldImageItem">
        <ion-label>{{field.displayName}}</ion-label>
        <ion-img src="{{field?.data?.url}}" onload="this.onerror=null;this.src='assets/placeholder.svg'" onerror="this.src='assets/placeholder.svg'"></ion-img>
        <ion-button size="small">
          Change Image
        </ion-button>
      </div>
    </ion-item>

  </span>
  </ion-list>

</ion-content>