<ion-content [fullscreen]="true">
  <ion-progress-bar type="indeterminate" *ngIf="!authenticationService.user"></ion-progress-bar>
    <ion-card color="primary" class="ion-margin" id="account" *ngIf="authenticationService.user">
        <ion-card-header>
            <ion-item lines="none" color="translucent" class="ion-no-border ion-no-padding">
                <ion-thumbnail slot="start" id="userThumbnail">
                  <ion-label>{{authenticationService.user?.firstName.slice(0,1)}}</ion-label>
                </ion-thumbnail>
                <span id="userDetails">
                  <ion-label>{{authenticationService.user?.firstName}}&nbsp;{{authenticationService.user?.lastName}}</ion-label>
                  <ion-label>{{authenticationService.user?.email}}</ion-label>
                </span>
              </ion-item>
        </ion-card-header>
      
        <!-- <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content> -->
      </ion-card>
      <ion-button 
      color="light" 
      shape="round" 
      fill="outline" 
      expand="block"
      *ngIf="authenticationService.user"
        class="ion-padding ion-no-margin" 
        (click)="authenticationService.logout()"
      > 
      Logout
    </ion-button>
</ion-content>
