#collections{
    #collection{
        // margin-bottom: 4vw;
   
        #collectionItem{
            display: flex;
            justify-content: center;
            vertical-align: middle;
            --min-height: 25vw;
            ion-label{
                font-family: "Prompt", sans-serif;
            }
            ion-note{
                font-family: "Prompt", sans-serif;
                margin: auto 0;
            }         
        }
    }
}