<ion-content [fullscreen]="true" >
  <ion-progress-bar type="indeterminate" *ngIf="collectionsService.collectionsLoading"></ion-progress-bar>
    <ion-list *ngIf="!collectionsService.collectionsLoading" id="collections" lines="full">
        <ion-item-sliding *ngFor="let collection of collectionsService.collections" id="collection">
          <ion-item-options side="start">
            <ion-item-option color="success">Unpublish</ion-item-option>
          </ion-item-options>
      
             <ion-item [button]="true"  id="collectionItem" router-direction="forward"  (click)="navCollection(collection)">
               <ion-label>{{collection?.displayName}}</ion-label>
              
               <ion-note slot="end">
                <ion-spinner name="dots" *ngIf="!collection?.items"></ion-spinner>
                {{collection?.items?.length ? 'Items:' : '' }} {{collection?.items?.length}}
              </ion-note>
               <ion-icon color="primary" slot="end" name="library-outline" size="large"></ion-icon>
            </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option color="danger">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>
