<ion-menu [type]="menuType" side="end" content-id="main-content">
  <ion-content class="ion-padding">
    <!-- <ion-menu-toggle>
      <ion-button>Click to close the menu</ion-button>
    </ion-menu-toggle> -->
    <ion-header id="sideBarHeader" class="ion-no-border ion-padding-vertical">
      <ion-img routerLink="/" slot="start" id="logo" src="assets/writeflow-logo.svg"></ion-img>
    </ion-header>
    <ion-list class="ion-no-border ion-no-padding" id="sideBarHeaderList" lines="full">
      <ion-item [button]="true" class="ion-no-border">
        <ion-label slot="start">Privacy Policy</ion-label>
        <ion-icon color="primary" slot="end" name="document-text-outline" size="medium"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-button 
        shape="round" 
        fill="outline" 
        expand="block" 
        (click)="authenticationService.logout()">logout
    </ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header id="header">
    <ion-toolbar id="mainToolbar">
      <!-- <ion-title > -->
      <ion-img routerLink="/" slot="start" id="logo" src="assets/writeflow-logo.svg"></ion-img>
      <!-- </ion-title> -->
      <ion-buttons slot="end">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-tabs
      #tabs
      appGesture
      [gestureOpts]="[{enabled: true,name: 'swipe', interval: 250, threshold: 15, reportInterval: 'start', direction: ['left', 'right']}]"
      (swipe)="onSwipe($event)"
    >
      <ion-tab-bar slot="top" id="tabs">
        <ion-tab-button tab="pulse">
          <ion-icon name="pulse-outline"></ion-icon>
          <ion-label>pulse</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="collections">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>collections</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="account">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>account</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>

