ion-select.select-icon{
    display: none!important;
}
ion-card-title{
    font-size: 4.25rem;
    font-weight: 800;
    font-family: "Prompt", sans-serif;
}
ion-card-subtitle{
    font-size: 1.25rem;
    font-weight: 200;
    margin: 0vw 0vw 0vw auto;
    font-family: "Prompt", sans-serif;
}
#collections{
    #collection{
        // margin-bottom: 4rem;
        #collectionItem{
            display: flex;
            justify-content: center;
            vertical-align: middle;
            --min-height: 7rem;
            ion-label{
                font-family: "Prompt", sans-serif;
            }
            ion-note{
                margin: auto 1rem auto 0rem;
                font-size: small;
                font-weight: 300;
                font-family: "Prompt", sans-serif;
            }         
        }
    }
}