<ion-content [fullscreen]="true">
  <ion-grid>
    <app-site-select></app-site-select>
    <ion-row>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>16</ion-card-title>
            <ion-card-subtitle>Sites</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>25</ion-card-title>
            <ion-card-subtitle>Collections</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>82</ion-card-title>
            <ion-card-subtitle>Items</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>