ion-select.select-icon{
    display: none!important;
}
ion-card-title{
    font-size: 4.25rem;
    font-weight: 800;
    font-family: "Prompt", sans-serif;
}
ion-card-subtitle{
    font-size: 1.25rem;
    font-weight: 200;
    margin: 0vw 0vw 0vw auto;
    font-family: "Prompt", sans-serif;
}