<ion-header [translucent]="true" *ngIf="!itemsService.itemLoading">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">{{itemsService.item?.fieldData?.name}}</ion-title>
  </ion-toolbar>
  <ion-toolbar id="toolbarSmall" color="medium">
    <!-- <ion-title>{{itemsService?.item?.fieldData?.name}}</ion-title> -->
     <ion-button
       lines="none"
       button="true"
       id="publish"
       color="primary"
       (click)="publishItemChanges()"
     >  
       Publish
       <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
    </ion-button>
    <ion-button
       lines="none"
       button="true"
       id="unpublish"
       color="medium"
       (click)="unpublishItem()"
     >  
       Save As Draft
       <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
    </ion-button>
  <!-- <ion-button 
    slot="start" 
    size="small"
    (click)="unpublishItem()"
    color="tertiary"
    class="ion-margin ion-no-border ion-no-shadow"
  >
    Unpublish
  <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
</ion-button>
  <ion-button 
    slot="start" 
    size="small"
    color="secondary"
    (click)="publishItemChanges()"
    class="ion-margin ion-no-border ion-no-shadow"
    >
      Publish
    <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
  </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar type="indeterminate" *ngIf="itemsService.itemLoading"></ion-progress-bar>
  
  <ion-list id="itemsTop" lines="full">
    <span *ngFor="let field of fields">
    <ion-item *ngIf="field.type === 'PlainText' && field.slug === 'name' || field.type === 'PlainText' && field.slug === 'slug'" id="fieldItem">
      <ion-textarea
        auto-grow
        id="field"
        fill="outline" 
        [(ngModel)]="field.data"
        label-placement="floating" 
        label={{field?.displayName}} 
        name="{{field?.slug}}"
        placeholder={{field?.helpText}} 
        [disabled]="field.slug === 'slug'"
        (input)="textEditorChange($event, field)"
      >
      </ion-textarea>
    </ion-item>
   
  </span>
  </ion-list>

  <ion-list id="itemsBottom" lines="full">

    <span *ngFor="let field of fields">

    <ion-item *ngIf="field.type === 'PlainText' && field.slug !== 'name' && field.slug !== 'slug'" id="fieldItem">
      <ion-textarea
        auto-grow
        id="field"
        fill="outline" 
        [(ngModel)]="field.data"
        label-placement="floating" 
        label={{field?.displayName}} 
        name="{{field?.slug}}"
        placeholder={{field?.helpText}} 
      >
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="field.type === 'Number'" id="fieldItem">
      <ion-input
        id="field"
        fill="outline" 
        [(ngModel)]="field.data"
        type={{field?.type}}
        label-placement="floating" 
        label={{field.displayName}} 
        placeholder={{field?.helpText}} 
      >
      </ion-input>
    </ion-item>

    <ion-item *ngIf="field.type === 'Color'" id="fieldItem">
      <ion-label>{{field.displayName}}</ion-label>
      <input 
      type="color"
      id="color-picker-link"
      (ngModelChange)="setColor($event)"
      [(ngModel)]="field.data">
    </ion-item>

    <ion-item *ngIf="field.type === 'Switch'" id="fieldItem">
      <!-- <ion-label></ion-label> -->
      <ion-toggle 
      mode="ios" 
      id="field" 
      labelPlacement="start"
      justify="space-between" 
      [(ngModel)]="field.data"
      [enableOnOffLabels]="true"
      >
      {{field.displayName}}
    </ion-toggle>
    </ion-item>

    <ion-item *ngIf="field.type === 'RichText'" id="fieldItem">
      <div id="editor">
        <ion-label>{{field.displayName}}</ion-label>
        <div class="NgxEditor__Wrapper">
          <ngx-editor-floating-menu  [editor]="editors[field?.editorNumber]"> </ngx-editor-floating-menu>
          <ngx-editor 
          [editor]="editors[field?.editorNumber]" 
          [ngModel]="field?.data" 
          [disabled]="false" 
          [placeholder]="'Type here...'"
          (ngModelChange)="editorChange($event,field)"
          ></ngx-editor>
        </div>
      </div>
    </ion-item>

    <ion-item *ngIf="field.type === 'Image'" >
      <div id="fieldImageItem">
        <ion-label>{{field.displayName}}</ion-label>
        <ion-img src="{{field?.data?.url}}" onload="this.onerror=null;this.src='assets/placeholder.svg'" onerror="this.src='assets/placeholder.svg'"></ion-img>
        <span id="imageButtons">
          <ion-button id=`delete-${{field?.slug}}` size="small" *ngIf="field.data.url !== 'assets/placeholder.svg'" (click)="deleteImage(field)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button id=`add-${{field?.slug}}` size="small">
          {{field.data.url === 'assets/placeholder.svg' ? 'Add Image' : 'Change Image'}}
        </ion-button>

        <ion-popover trigger=`add-${{field?.slug}}` triggerAction="click">
          <ng-template>
            <ion-item [button]="true" [detail]="false" (click)="changeImage(field)">Select Image <ion-icon slot="end" name="image-outline"></ion-icon></ion-item>
            <ion-item [button]="true" [detail]="false" >Take Photo <ion-icon slot="end" name="camera-outline"></ion-icon></ion-item>
          </ng-template>
        </ion-popover>
      </span>
      </div>
    </ion-item>

  </span>
  <ion-button 
        *ngIf="!itemsService.itemLoading && !itemsService.item?.isArchived"
        color="warn" 
        shape="round" 
        fill="outline" 
        expand="block"
        class="ion-padding" 
        (click)="archiveItem(this.itemsService.item?.id)"
      > 
      archive
  </ion-button>
  </ion-list>

</ion-content>
