ion-title{
    font-size: 0.95rem;
    line-height: 1rem;
    margin: auto 0;
    font-family: "Prompt", sans-serif;
}

#toolbarSmall{
    display: flex;
    --min-height: 3.5%;
    flex-direction: row;
    justify-content: end;
    #publish{
        width: 40%;
    }
    ion-button{
        font-size: 0.75rem;
        line-height: 1.5rem;
        float: right;
        margin: 0!important;
        --border-radius: 0%!important;
        font-family: "Prompt", sans-serif;
    }
}

#itemsTop{
        margin: 0vw ;
        --background: var(--ion-background-color);
    #fieldItem{

    #field{
        font-size: 1.15rem;
        line-height: 1.5rem;
        margin: 1rem 0rem 1rem 0rem;
        font-family: "Prompt", sans-serif;
        }         
    }
}
ion-title.ios.title-small.hydrated {
    padding-top: 6px;
    padding-bottom: 6px;
}
#itemsBottom{
    --background: var(--ion-background-color);
    #fieldItem{
        ion-label{
            font-size: 0.95rem;
            line-height: 1rem;
            margin: 1rem 0.2rem 1rem 0.2rem;
            font-family: "Prompt", sans-serif;
        }
        input[type="color"] {
            margin: 2rem 0.2rem 2rem 0.2rem;
            -webkit-appearance: none;
            border: none;
            width: 2rem;
            height: 2rem;
        }
        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }
        input[type="color"]::-webkit-color-swatch {
            border: none;
        }
    #field{
            font-size: 1.05rem;
            line-height: 1.5rem;
            margin: 1rem 0rem 1rem 0rem;
            font-family: "Prompt", sans-serif;
        }         
    }
}

// #toolbarSmall{
//     --min-height: 20px;
// }
#fieldImageItem{
    display: flex;
    position: relative;
    justify-content: left;
    flex-direction: column;
    ion-label{
        font-size: 0.95rem;
        line-height: 1rem;
        margin: 1rem 0.2rem 1rem 0.2rem;
        font-family: "Prompt", sans-serif;
    }
    ion-img{
        margin: 0rem 0.4rem 1rem 0.4rem;
    }ion-img::part(image) {
        border-radius: 10px;
      }
      #imageButtons{
        display: flex;
        flex-direction: row;
        justify-content: end;
        right: 4%;
        bottom: 10%;
        position: absolute;
    }
}
ion-content{
    --background: var(--ion-background-color);
}
#editor {
    width: 100%;
    // height: 100%;
    margin: 1rem 0rem 1rem 0rem;
    ion-label {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0vw 0rem 1rem 0rem;
        font-family: "Prompt", sans-serif;
    }
}
