#toolbarSmall{
    display: flex;
    --min-height: 3.5%;
    flex-direction: row;
    justify-content: end;
    #publish{
        width: 40%;
    }
    ion-button{
        font-size: 2.95vw;
        line-height: 3.5vw;
        float: right;
        margin: 0!important;
        --border-radius: 0%!important;
        font-family: "Prompt", sans-serif;
    }
}

#itemsTop{
        margin: 0vw ;
        --background: var(--ion-background-color);
    #fieldItem{

    #field{
        font-size: 4vw;
        line-height: 3.5vw;
        margin: 5vw 0vw 5vw 0vw;
        font-family: "Prompt", sans-serif;
        }         
    }
}

#itemsBottom{
    --background: var(--ion-background-color);
    #fieldItem{
        
    #field{
            font-size: 4vw;
            line-height: 3.5vw;
            margin: 5vw 0vw 5vw 0vw;
            font-family: "Prompt", sans-serif;
        }         
    }
}

// #toolbarSmall{
//     --min-height: 20px;
// }
#fieldImageItem{
    display: flex;
    position: relative;
    justify-content: left;
    flex-direction: column;
    ion-label{
        font-size: 4vw;
        line-height: 3.5vw;
        margin: 5vw 1vw 5vw 1vw;
        font-family: "Prompt", sans-serif;
    }
    ion-img{
        margin: 0vw 1vw 5vw 1vw;
    }ion-img::part(image) {
        border-radius: 10px;
      }
    ion-button{
        right: 4%;
        bottom: 10%;
        position: absolute;
    }
}
ion-content{
    --background: var(--ion-background-color);
}
#editor {
    width: 100%;
    // height: 100%;
    margin: 5vw 0vw 5vw 0vw;
    ion-label {
        font-size: 4vw;
        line-height: 3.5vw;
        margin: 0vw 1vw 5vw 1vw;
        font-family: "Prompt", sans-serif;
    }
}
