#items{
    #item{
        // margin-bottom: 4vw;
        #itemItem{
            --min-height: 25vw;
            ion-label{
                font-size: 3.5vw;
                line-height: 4vw;
                font-family: "Prompt", sans-serif;
            }
            ion-note{
                font-family: "Prompt", sans-serif;
                margin: auto 0;
            }         
        }
    }
}
#add-item-trigger{
    ion-icon{
        font-size: 8vw
    }
}
// ion-item{
//     border: none;
// }