#items{
    padding: 2svw;
    #item{
        // margin-bottom: 4svw;
        #itemItem{
            ion-label{
                font-family: "Prompt", sans-serif;
            }
            ion-note{
                font-family: "Prompt", sans-serif;
            }         
        }
    }
}