/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";
*{
    font-family: "Prompt", sans-serif;
}
.NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    background: var(--ion-background-color)!important;
    color: #FFF!important;;

  }
  .ngx-editor-floating-menu{
    top: 0!important;
  }
#logo{
    height: 4vh;
    margin: 0 0 0 3.5vw;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#menuToolbar{
    --color: white;
    --min-height: 80px;
    --padding-top: 20px;
    --border-width: 0px 0;
    --padding-bottom: 20px;
    --background: #1b1b1b;
}
#mainToolbar{
    --color: white;
    --padding-top: 10px;
    --border-width: 0px 0;
    --padding-bottom: 10px;
    --background: #1b1b1b;
    --box-shadow: none!important;
    --webkit-box-shadow: none!important;
}
.header-md{
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}
#tabs{
    --color: white;
    --min-height: 80px;
    --padding-top: 20px;
    --border-width: 0px 0;
    --padding-bottom: 20px;
    --background: #1b1b1b;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}